	<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.rajat.testscript.CustomerModule"/>
      <class name="rajat.demo"/>
      <class name="com.rajat.generic.customerModule"/>
      <class name="com.testNg.www.CustomerModule1"/>
      <class name="com.rajat.testscript.DemoAssertion"/>
      <class name="com.rajat.generic.ProjectModule"/>
    </classes>
    <parameter name="webdriver.chrome.driver" value="./driver/chromedriver.exe"></parameter>
  </test> <!-- Test -->
</suite> <!-- Suite -->
